.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(217, 239, 245);

    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 9.6rem;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.main-nav-link.active {
   font-size: 2.4rem;
   color: #0056b3;
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
}

.main-nav-link {
    display: inline-block;
    text-decoration: none;
    color: #212529;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s;
    cursor: pointer;
}

.main-nav-link:hover, .main-nav-link:active {
    color: #0056b3;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #007bff;
    transition: all 0.3s;
}

.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
    background-color: #0056b3;
}

.search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.search-input {
    padding: 1rem;
    border: 2px solid #007bff; /* Blue border */
    border-radius: 9px 0 0 9px; /* Rounded corners on the left */
    outline: none;
    width: 35rem;
  }
  
  .search-button {
    padding: 0.8rem;
    border: none;
    background-color: #007bff; /* Blue background */
    color: white;
    border-radius: 0 4px 4px 0; /* Rounded corners on the right */
    cursor: pointer;
    font-size: 2rem;
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
  }